services:
  - type: web
    name: tesla-investment-platform
    env: python
    region: oregon
    plan: starter
    branch: main
    buildCommand: "./build.sh"
    startCommand: "gunicorn config.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: tesla-investment-db
          property: connectionString
      - key: CSRF_COOKIE_SECURE
        value: True
      - key: SESSION_COOKIE_SECURE
        value: True
      - key: SECURE_SSL_REDIRECT
        value: True
      - key: SECURE_HSTS_SECONDS
        value: 31536000
      - key: SECURE_HSTS_INCLUDE_SUBDOMAINS
        value: True
      - key: SECURE_HSTS_PRELOAD
        value: True
      - key: EMAIL_BACKEND
        value: "django.core.mail.backends.smtp.EmailBackend"
      - key: EMAIL_HOST
        value: "smtp.gmail.com"
      - key: EMAIL_PORT
        value: "587"
      - key: EMAIL_USE_TLS
        value: "True"
      - key: EMAIL_HOST_USER
        value: "forexbtte@gmail.com"
      - key: EMAIL_HOST_PASSWORD
        sync: false
      - key: DEFAULT_FROM_EMAIL
        value: "forexbtte@gmail.com"
      - key: ADMIN_EMAIL
        value: "forexbtte@gmail.com"

databases:
  - name: tesla-investment-db
    databaseName: investment_platform
    user: investment_user
    plan: starter
